@model MVC1006.Models.Person

@using (Html.BeginForm())
{
    <p>Your Name: @Html.TextBoxFor(x => x.Name)</p>
    <p>Your Gender: @Html.DropDownListFor(x => x.Gender, new[] { new SelectListItem() { Text = "Male", Value = "M" }, new SelectListItem() { Text = "Female", Value = "F" } }, "Choose an option:")</p>
    <p>Your Weight: @Html.TextBoxFor(x => x.Weight)</p>
    <p>Your Height: @Html.TextBoxFor(x=>x.Height)</p>
    <p>Do you smoke?: @Html.DropDownListFor(x => x.Smoking, new[] { new SelectListItem() { Text = "No", Value = bool.FalseString }, new SelectListItem() { Text = "Yes", Value = bool.TrueString } }, "Choose an option:")</p>
    <p>Your Vaccination Status: @Html.CheckBoxFor(x=>x.Vaccinated)</p>
    <p><input type="submit" value="Submit" /></p>
}