@using (Html.BeginForm()) {
    <p>Name: @ViewBag.Name</p>
    <p>Weight: @ViewBag.Weight.ToString("n1")</p>
    <p>Height: @ViewBag.Height.ToString("n2")</p>
    <p>BMI: @ViewBag.Bmi.ToString("n1")</p>
    <p>BMI class: @ViewBag.BmiClass</p>
}