@model IEnumerable<MVC1006.Models.Employee>
@{
    int row = 1;
}

<h3>List of Employee</h3>

<p>Total employees: @ViewBag.CountAll</p>
<p>Total female employees: @ViewBag.CountFemale</p>
<p>Total male employees: @ViewBag.CountMale</p>
<p>Average salary: @ViewBag.AverageSalary.ToString("c2")</p>
<p>Average salary male: @ViewBag.AverageSalaryMale.ToString("c2")</p>
<p>Average salary female: @ViewBag.AverageSalaryFemale.ToString("c2")</p>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>StartDate</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <th>@row</th>
            <th>@employee.EmpId</th>
            <th>@employee.Name</th>
            <th>@employee.Gender</th>
            <th>@employee.Position</th>
            <th>@employee.StartDate.ToShortDateString()</th>
            <th>@employee.Campus</th>
            <th>@employee.Salary.ToString("C")</th>
        </tr>
        row++;
    }
</table>